body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}
h1{
    color: #66bfbf;
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
    margin: 50px auto o auto;
}
h2{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 250px;
}
.middle-container{
    margin: 100px;
}
.mid-image{
    border-radius: 50%;
}
.intro{
    width: 30%;
    margin: auto;
}
.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    text-align: left;
    row-gap: 2rem;
    margin: 100px auto 0 auto;
}
h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}
.btn{
    background: #11cdd4;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
}
.contact-message{
    width: 40%;
    margin: 40px auto ;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.footer-link{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
